 

<header class="page">
  <div class="backstretch"  >
  <img src="images/bg-1.jpg"  >
  </div>
  </header>
  <div   class="vo-features vo-extra-height">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Login to your Vizob</h2>
            <ng:form name="createForm">
		 	 	 <div class="form-group form-group-default">
					<h3>Login to your CRM</h3>
					<div class="form-group">
					    <label>Enter your company's Vizob domain.</label>
					    <div class="input-group">  
					    	<input type="tetx" ng-model="vm.domain" placeholder="companydomain" class="form-control" required /> 
							<div class="input-group-addon">.vizob.com</div> 
						</div>
						<p ng-if="vm.message" ng-bind="vm.message"></p>
		      		</div>
		      	</div>
		      	<button class="btn btn-default" ng-click="vm.DomainVerify(vm.domain)">Continue</button>
		 	 </ng:form>
        </div>
        <div class="col-md-6">
          <img src="images/components-1.png">
        </div>

      </div>

    </div>

  </div>
 
