
<!DOCTYPE html>
<html ng-app="vizob.crm">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, maximum-scale = 1.0">
        <meta name="fragment" content="!" />
        <title ng-bind="'Vizob - CRM - ' + pageTitle"></title>
        <meta name="description" content="{{pageDescription}}">

        <link href="/vendor.css" rel="stylesheet">
        <link href="/app.css" rel="stylesheet">
    </head>
    <body class="flex" ng-class="bodyClasses" ng-controller="MainCtrl">
    <vizob-sidebar ng-if="showMenu"></vizob-sidebar>
    <div class="content-wrapper flex">
        <vizob-navbar ng-if="showMenu"></vizob-navbar>
        <div class="content" ng-class="{'no-padding':!showMenu}">
          <public-menu ng-if="!showMenu"></public-menu>
           <div ui-view autoscroll="false" id="ui-view"></div>
           <public-footer ng-if="!showMenu"></public-footer>
        </div>
    </div>
    <script src="/vendor.js"></script>
    <script src="/bundle.js"></script>
    </body>
</html>